# Server
PORT=5001

# Mongo
MONGO_URI=mongodb+srv://USER:PASS@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=teamup-hamilton

# Auth
JWT_SECRET=replace-with-strong-secret

# CORS (comma separated in prod)
CORS_ORIGIN=http://localhost:5173